.jumbotron {
  background-image: url("https://picsum.photos/seed/picsum/1300/400");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 10px;
  // height: 80vh;
}

.productionHouses {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

#title {
  font-style: italic;
  color: rgb(32, 28, 28);
  text-align: center;
}

.imagecontainer {
  flex: 1;
}
.descriptioncontainer {
  margin-left: 20px;
  flex: 2;
  padding: 10px;
}
.infocontainer {
  border: 2px solid black;
  border-radius: 8px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 60vw;
  background-color: #fff;
  opacity: 0.8;
}

#poster {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

#bodyId .bgGradient {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 10%,
    rgba(163, 251, 220, 1) 25%,
    rgba(92, 135, 120, 1) 35%,
    rgba(56, 91, 78, 1) 50%,
    rgba(34, 52, 46, 1) 65%,
    rgba(4, 34, 23, 1) 75%,
    rgba(0, 0, 0, 0.8914916308320203) 90%
  );
}
// gave the h5 a fixed height so the cards would be equal size, given the fact that the longer titles had an effect on the card size
h5 {
  height: 80px;
}
a.btn {
  margin-bottom: 10px;
}
