$body-color: blue;
$text-color: white;

body {
  color: $body-color;
}

.jumbotron {
  background-image: url("https://picsum.photos/seed/picsum/1300/400");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  margin: 10px;
  height: 80vh;
}

.productionHouses {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
}

h1,
h3,
h4,
a,
#production,
button {
  color: $text-color;
}
